.video-player-container {
  position: relative;
}
.youtube-player {
  position: absolute;
  border: 1px solid #1d740c;
  height: 390px;
  width: 480px;
  padding: 0px;
  margin-left: 25px;
  margin-bottom: 25px;
}
