.video-card {
  background-color: rgba(0, 0, 0, 0);
  background: transparent;
  box-shadow: none;
}

.video-title {
  width: 216px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
