<div class="video-range">
  <div #hovered class="hovered-timer" [hidden]="!isHovered">
    {{ hoveredTime * 1000 | date: "mm:ss" }}
  </div>
  <ion-range
    #videoRange
    class="video-range ion-no-margin ion-no-padding"
    ticks="false"
    (click)="onVideoRangeClick($event)"
    (mousemove)="onMouseOver($event)"
    (mouseout)="onMouseLeave($event)"
    [value]="videoCurrentTimeWatcher | async"
    step="0.5"
    [min]="0"
    [max]="videoDuration"
  ></ion-range>
</div>
<!--
<ion-progress-bar
  class="video-range ion-no-margin ion-no-padding"
  [value]="videoCurrentTime / videoDuration"
></ion-progress-bar>
 -->
